.open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 100px;
}

.nav-title {
  font-size: 3rem;
  font-weight: bold;
}

.dark-2 {
  color: #474747;
}

.org {
  color: #fd6e0a;
}
nav ul {
  display: flex;
  align-items: center;
  gap: 50px;
}

nav ul li {
  list-style: none;
}

nav ul li a {
  text-decoration: none;
  color: #474747;
}

.primary-btn {
  background-color: #fd6e0a;
  border: none;
  padding: 10px 15px;
  font-weight: bold;
  color: white;
  font-size: 20px;
  border-radius: 5px;
}

.header {
  background-color: #fff8f3;
  padding-left: 230px;
  padding-right: 50px;
  background-image: url(./images/developer.png), url(./images/header_bg.png);
  background-repeat: no-repeat;
  background-position:
    top left,
    bottom right;
}

.secondary-btn {
  padding: 8px 15px;
  font-weight: bold;
  color: #fd6e0a;
  font-size: 20px;
  border-radius: 5px;
  border-color: #fd6e0a;
}

.banner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.banner-name {
  font-size: 85px;
  margin: 0px;
}

.banner-gretings {
  margin-bottom: 0px;
  font-size: 45px;
  color: #474747;
}

.banner-des {
  color: #474747;
  width: 60%;
  margin-bottom: 30px;
}

.main {
  margin: 130px 230px;
  color: #474747;
}

.about-me {
  text-align: center;
  background-color: #fff8f3;
  border-radius: 10px;
  padding: 131px 157px;
}

.about-info {
  display: flex;
  justify-content: space-around;
}

.info {
  font-weight: bold;
}

.title-2 {
  font-size: 35px;
  color: rgb(0, 0, 0);
}
.tools {
  border-radius: 10px;
  padding: 30px;
  box-shadow:
    0 4px 8px 0 rgba(0, 0, 0, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.skills {
  display: flex;
  gap: 30px;
  margin-top: 50px;
}

.skill {
  margin-top: 130px;
}

.skill-intro {
  text-align: center;
}

.resume {
  display: flex;
  gap: 20px;
}

.resume-title {
  text-align: center;
  margin-top: 130px;
  margin-bottom: 50px;
}

.btn-1 {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  margin-bottom: 130px;
}

footer {
  background-color: #fff8f3;
  padding: 130px;
  display: flex;
  gap: 50px;
}

.message {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.form {
  width: 50%;
}

.text {
  height: 60px;
}

.text-1 {
  height: 100px;
}

.footer-content {
}

/* =========================
   RESPONSIVE DESIGN
   ========================= */

/* Tablets (max-width: 992px) */
@media (max-width: 992px) {
  .header {
    padding-left: 50px;
    padding-right: 50px;
  }

  .header {
    background-image: none;

    padding: 0px;
  }

  .banner {
    flex-direction: column;
    text-align: center;
  }

  .banner-des {
    width: 100%;
  }

  .banner-img img {
    width: 80%;
    margin-top: 30px;
  }

  .main {
    margin: 80px 50px;
  }

  .skills {
    flex-wrap: wrap;
    justify-content: center;
  }

  .tools {
    width: 45%;
  }

  .resume {
    flex-direction: column;
  }

  footer {
    flex-direction: column;
    padding: 80px 50px;
  }

  .form {
    width: 100%;
  }
}

/* Mobile (max-width: 576px) */
@media (max-width: 576px) {
  .nav-title {
    font-size: 2rem;
  }


  nav ul {
  display: flex;
  align-items: center;
  gap: 20px;
}

  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 20px;
  }

  .header {
  }

  .banner-name {
    font-size: 48px;
  }

  .banner-gretings {
    font-size: 28px;
  }

  .primary-btn,
  .secondary-btn {
    font-size: 16px;
    margin-bottom: 10px;
  }

  .about-me {
    padding: 50px 20px;
  }

  .about-info {
    flex-direction: column;
    gap: 15px;
  }

  .tools {
    width: 100%;
  }

  .main {
    margin: 50px 20px;
  }

  footer {
    padding: 50px 20px;
  }

  .footer-content img {
    margin-right: 10px;
  }
}
